parameters:
  doctrine:
    repositoryClass: Mvo\ContaoFacebookImport\Entity\FacebookNodeRepository

  ignoreErrors:
    - '#Constant TL_MODE not found.#'
    - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'

  excludes_analyse:
    - %currentWorkingDirectory%/src/Resources/*

  universalObjectCratesClasses:
    - Contao\ContentElement
    - Contao\Template

 # default run config
  paths:
    - %currentWorkingDirectory%/src

  level: 5